body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header{
    background-color:#055168;
    padding: 25px;
}
nav{
    display:flex;
    justify-content: space-between;
    gap: 20px;
}
.nav-child{
    display: flex;
    gap: 20px;
}
.block{
    width: 80px;
    height: 20px;
    background-color: lightgray;
    border-radius: 3px;
    
}
.block2{
   width: 80px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 3px;

}
.block3{
    width: 70px;
    height: 33px;
    background-color: lightgray;
    border-radius: 3px;
    margin-top: -6px;

}
.whole-container{
    display: flex;
    gap: 30px;
}
.container1{
    margin: 30px;
    width: 200px;
    height: 50px;
    background-color: lightgray;
    border-radius: 3px;
    margin-left: 20px;
}
.container2{
    margin: 25px;
    margin-top: 20px;
    width: 1000px;
    height: 68px;
    background-color: lightgrey;
    border-radius: 3px;
}
.head{
    background-color: lightgray;
}
.nav-2{
    display: flex;
    justify-content: space-around;

}
.new-block{
    width: 80px;
    height: 20px;
    background-color: rgb(143, 143, 143);
    border-radius: 3px;
}
article{
    display: flex;
}
.section{
    width: 60vw;
    height: 430px;
    margin: 30px;
    background-color: lightgray;
}
.whole-section{
    display: block;
}
.section2{
    width: 40vw;
    height: 200px;
    margin: 30px;
    background-color: lightgrey;
}
@media (max-width: 600px) {
    .block, .block2, .block3 {
        width: 40px;
    }
    
}
@media (max-width: 500px) {
    article {
        display: flex;
        flex-direction: column;
    }
    .section {
        max-width: 600px !important;
        width: unset;
    }
    .section2 {
        max-width: 600px;
        width: unset;
    }
}
